{% extends 'base.html'%}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Entre em Contato</h1>
        <div class="desktop-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert success">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="." novalidate method="post">
                {% csrf_token %}
                <div class="form-row label-block input-text">
                    <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                    {{ form.nome.errors }}
                    {{ form.nome }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.numero.id_for_label }}">{{ form.numero.label }}</label>
                    {{ form.numero.errors }}
                    {{ form.numero }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.mensagem.id_for_label }}">{{ form.menssagem.label }}</label>
                    {{ form.mensagem.errors }}
                    {{ form.mensagem }}
                </div>
                <p class="btn-row"><input type="submit" value="Enviar!"/></p>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
